@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-image: url('./pics/pexels-miguel-á-padriñán-19670.jpg');
  background-size: cover;
}

header {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-size: larger;
  font-family: 'Raleway', sans-serif;
  color: dodgerblue;
  letter-spacing: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

main {
  width: 100%;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

footer {
  font-family: 'Raleway', sans-serif;
  color: dodgerblue;
  letter-spacing: 2px;
  font-size: small;
  padding: 5px;
  box-sizing: border-box;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

label {
  font-family: 'Raleway', sans-serif;
  color: dodgerblue;
  letter-spacing: 2px;
  font-size: larger;
}

input {
  border-radius: 18px 18px 18px 18px;
  border: 2px solid #1e90ff;
  box-sizing: border-box;
  padding: 2px 5px 2px;
  background-color: aliceblue;
  margin: 0 25px 0 5px;
}

input:focus {
  outline: none;
}

#getWeather {
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  background-color: white;
  color: dodgerblue;
  border: 2px solid dodgerblue;
}

#getWeather:hover {
  background-color: aliceblue;
}

#getWeather:active {
  background-color: #72beff;
}

.tempFormat {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 15px 0;
  color: dodgerblue;
  font-size: large;
}

#f,
#c {
  font-family: 'Raleway', sans-serif;
  color: dodgerblue;
  border: none;
  background-color: transparent;
  font-size: large;
  border-radius: 200px 200px 200px 200px;
}

.active {
  background-color: rgb(193, 224, 252) !important;
}

button:hover {
  cursor: pointer;
}

.daysContainer {
  width: 50%;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  gap: 5%;
}
.day {
  flex: 1;
  background-color: #ffffff8f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: dodgerblue;
  gap: 10px;
}

.time {
  font-size: x-large;
}

.temp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
  font-size: larger;
}

.current {
  grid-column: 1 / 3;
  justify-self: center;
}

.condition {
  font-size: 1.3vw;
  display: grid;
  justify-items: center;
}

.conditionText {
  grid-row: 2;
}

.humidity,
.precip,
.wind {
  font-size: larger;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.humidity img,
.precip img,
.wind img {
  width: 24px;
}

.welcomeText {
  margin: auto;
  font-size: xx-large;
}
